<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signin</title>
</head>

<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
        <h1 class="opacity1">LOGIN</h1>
        <form action="/user/signin" method="post">
          <div class="mb-3">
            <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" />
          </div>
          <div class="mb-3">
            <input type="password" name="password" id="exampleInputPassword1" placeholder="Password" />
          </div>
          <% if(locals.error){ %>
          <div class="error-message">
            Incorrect email or password
          </div>
          <% } %>
          <button type="submit">Sign in</button>
        </form>
        <div class="register-forget opacity">
          <a href="/user/signup">REGISTER</a>
          <a href="">FORGOT PASSWORD</a>
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
  </section>
  <script src="/js/script.js"></script>
</body>

</html>
